# IntelliJ Project Files
.idea
ImageSearch.iml
out/
bin/*.class
images/*
!images/README.txt
!images/default
evaluation/*
!evaluation/default_user.txt
!evaluation/default_user.evl

#################
## Eclipse
#################

*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
